<!DOCTYPE html>
<html lang="es">
  <!-- ----head ----->
<%-include('../partials/head') %> 
<!-- ----head---- -->

  <body class="admin">
    <!-- encabezado -->
   <!-- ----header ----->
   <%-include('../partials/header') %> 
   <!-- ----header---- -->
    <main>
        <h2>Carga de productos</h2>
        <!--FORMULARIO-->
        <div class="administrador">
  <form action="/agregar" method="POST" class="formulario">
      <div class="titulo">
          <label for="titulo">Título del libro:</label>
          <input type="text" name="titulo" id="titulo" class="control" placeholder="Ej: El señor de los anillos">
      </div>
      <div class="id">
          <label for="id" >ID del producto:</label>
          <input type="text" name="id" id="id" class="control" placeholder="Escriba aquí">
      </div>
    </section>
    <section class="isbn">
      <label for="isbn">ISBN:</label>
      <div class="isbn-btn">
      <input type="number" name="isbn" id="isbn" class="control" placeholder="10 ó 13 Dígitos">
    </div> 
</section>
    <div class="stock">
        <label for="stock">Stock:</label>
        <input type="number" name="stock" id="stock" class="control" placeholder="Ingrese números">
    </div>
   <section class="formato">
       <label for="formato">Formato:</label> 
       <select name="formato" id="formato">
           <option value="" hidden selected>Seleccione el formato</option>
           <option value="libro">Libro</option>
           <option value="ebook">Ebook</option>
       </select>
         </section>
         <section class="categoria">
          <label for="categoria">Categoría:</label> 
          <select name="categoria" id="categoria">
              <option value="" hidden selected>Seleccione la categoria</option>
              <option value="recomendados">Recomendados</option>
              <option value="novedades">Novedades</option>
              <option value="mas-vendidos">Más vendidos</option>
          </select>
            </section>
   <section class="autor">
        <label for="autor">Autor/Autora:</label>
        <!--Desplegable-->
        <select name="autor" id="autor">
    <option value="kerri-mariscalco">Kerri Mariscalco</option>
    <option value="ariana-godoy">Ariana Godoy</option>
    <option value="adam-silvera">Adam Silvera</option>
    <option value="john-grisham">John Grisham</option>
    <option value="jonh-katzenbach">Jonh Katzenbach</option>
    <option value="h-g-wells">H. G. Wells</option>
    <option value="markus-zusak">Markus Zusak</option>
    <option value="florencia-bonelli">Florencia Bonelli</option>
    <option value="carlos-ruis-zafon">Carlos Ruiz Zafón</option>
    <option value="jojo-moyes">Jojo Moyes</option>
    <option value="otro">Otro</option>    
</select>
    <div class="otroAutor">
        <!--campo para ingresar opción otro-->
        <input type="text" name="autor" id="otroAutor" placeholder="Otro. Nombre y apellido del autor" class="control">
    </div>
    </section>
<section class="editorial">
    <label for="editorial">Editorial:</label>
    <!--Desplegable-->
    <select name="editorial" id="editorial">
        <option value="wattpad">Wattpad</option>
        <option value="suma">Suma</option>
        <option value="deBolsillo">DeBolsillo</option>
        <option value="booket">Booket</option>
        <option value="edicionesB">Ediciones B</option>
        <option value="otro">Otro</option> 
    </select>
    <div class="otraEditorial">
        <!--campo para ingresar opción otro-->
        <input type="text" name="editorial" id="OtraEditorial" placeholder="Otro. Ej: Planeta" class="control">
    </div>
</section>
<section class="genero">
    <label for="genero">Género</label>
    <!--Desplegable-->
    <select name="genero" id="genero">
        <option value="romance">Romance</option>
        <option value="terror">Terror</option>
        <option value="misterio">Misterio</option>
        <option value="otro">Otro</option>
    </select>
    <div class="otroGenero">
        <!--campo para ingresar opción otro-->
        <input type="text" name="genero" id="otroGenero" placeholder="Otro. Ej: Fantasía" class="control">
    </div>
</section>
<div class="precio">
    <label for="precio">Precio $:</label>
    <input type="number" name="precio" id="precio" class="control" placeholder="Ingrese sólo números">
</div>
<div class="paginas">
    <label for="paginas">Páginas:</label>
    <input type="number" name="paginas" id="paginas" class="control" placeholder="Sólo números">
</div>
<div class="critica">
  <label for="critica">Crítica:</label>
  <input type="text" name="critica" id="critica" class="control" placeholder="Breve critica">
</div>
<div class="estrellas">
  <label for="estrellas">Estrellas:</label>
  <input type="text" name="estrellas" id="estrellas" class="control" placeholder="N° de estrellas">
</div>
<div class="portada">
  <label for="portada">Imagen de portada:</label>
  <input  class="file" type="file" name="portada" id="portada">
  </div>
<div class="sinopsis">
     <label for="sinopsis">Sinopsis:</label>
     <textarea name="sinopsis" id="sinopsis" cols="20" rows="10" placeholder="Sinopsis del libro">
    </textarea>
</div>
<p>*Todos los campos son obligatorios</p>
<!--BOTONES-->
<section class="botones">
    <button type="reset" class="btn-cancelar">CANCELAR</button>

    <button type="submit" class="btn-guardar">AGREGAR</button>
</section>
  </form>  
</div>
    </main>
    <!-- ----scripts ----->
 <%-include('../partials/scripts') %> 
 <!-- ----scripts---- -->
</body>
</html>