<!DOCTYPE html>
<html lang="es">

  <!-- ----head ----->
  <%-include('../partials/head') %> 
  <!-- ----head---- -->
  <body class="novedades admin">
      <!-- encabezado -->
    <!-- ----header ----->
   <%-include('../partials/header-admin') %> 
   <!-- ----header---- -->
  <main>

    <h2>Lista de productos</h2>
    
    <div class=contenedorNovedades>
    <article class="libro">
        <a href="/products/detalle"
          ><img src="/images/el-manuscrito.png" alt="img el manuscrito"
        /></a>
        <div class="detalle">
          <h3>el manuscrito</h3>
          <h4>John Grisham</h4>
          <p>$1500</p>
        </div>
        <!-- Botones para administrador -->
        <div class="container">
        <div class="row align-items-start">   
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-danger">BORRAR</button>
            <a href="/products/editar" type="button" class="btn btn-warning">EDITAR</a>
                <a href="/products/agregar" type="button" class="btn btn-success">AGREGAR</a>
          </div>
        </div> 
        </div>
      </article>

      <article class="libro">
        <a href="/products/detalle"
          ><img src="/images/el-manuscrito.png" alt="img el manuscrito"
        /></a>
        <div class="detalle">
          <h3>el manuscrito</h3>
          <h4>John Grisham</h4>
          <p>$1500</p>
        </div>
        <!-- Botones para administrador -->
        <div class="container">
            <div class="row align-items-start">   
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-danger">BORRAR</button>
                <a href="/products/editar" type="button" class="btn btn-warning">EDITAR</a>
                <a href="/products/agregar" type="button" class="btn btn-success">AGREGAR</a>
              </div>
            </div> 
            </div>
      </article>

      <article class="libro">
        <a href="/products/detalle"
          ><img src="/images/el-manuscrito.png" alt="img el manuscrito"
        /></a>
        <div class="detalle">
          <h3>el manuscrito</h3>
          <h4>John Grisham</h4>
          <p>$1500</p>
        </div>
        <!-- Botones para administrador -->
        <div class="container">
            <div class="row align-items-start">   
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-danger">BORRAR</button>
                <a href="/products/editar" type="button" class="btn btn-warning">EDITAR</a>
                <a href="/products/agregar" type="button" class="btn btn-success">AGREGAR</a>
              </div>
            </div> 
            </div>
      </article>

      <article class="libro">
        <a href="/products/detalle"
          ><img src="/images/el-manuscrito.png" alt="img el manuscrito"
        /></a>
        <div class="detalle">
          <h3>el manuscrito</h3>
          <h4>John Grisham</h4>
          <p>$1500</p>
        </div>
        <!-- Botones para administrador -->
        <div class="container">
            <div class="row align-items-start">   
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-danger">BORRAR</button>
                <a href="/products/editar" type="button" class="btn btn-warning">EDITAR</a>
                <a href="/products/agregar" type="button" class="btn btn-success">AGREGAR</a>
              </div>
            </div> 
            </div>
      </article>

      <article class="libro">
        <a href="/products/detalle"
          ><img src="/images/el-manuscrito.png" alt="img el manuscrito"
        /></a>
        <div class="detalle">
          <h3>el manuscrito</h3>
          <h4>John Grisham</h4>
          <p>$1500</p>
        </div>
        <!-- Botones para administrador -->
        <div class="container">
            <div class="row align-items-start">   
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-danger">BORRAR</button>
                <a href="/products/editar" type="button" class="btn btn-warning">EDITAR</a>
                <a href="/products/agregar" type="button" class="btn btn-success">AGREGAR</a>
              </div>
            </div> 
            </div>
      </article>

      <article class="libro">
        <a href="/products/detalle"
          ><img src="/images/el-manuscrito.png" alt="img el manuscrito"
        /></a>
        <div class="detalle">
          <h3>el manuscrito</h3>
          <h4>John Grisham</h4>
          <p>$1500</p>
        </div>
        <!-- Botones para administrador -->
        <div class="container">
            <div class="row align-items-start">   
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-danger">BORRAR</button>
                <a href="/products/editar" type="button" class="btn btn-warning">EDITAR</a>
                <a href="/products/agregar" type="button" class="btn btn-success">AGREGAR</a>
              </div>
            </div> 
            </div>
      </article>

      <article class="libro">
        <a href="/products/detalle"
          ><img src="/images/el-manuscrito.png" alt="img el manuscrito"
        /></a>
        <div class="detalle">
          <h3>el manuscrito</h3>
          <h4>John Grisham</h4>
          <p>$1500</p>
        </div>
        <!-- Botones para administrador -->
        <div class="container">
            <div class="row align-items-start">   
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-danger">BORRAR</button>
                <a href="/products/editar" type="button" class="btn btn-warning">EDITAR</a>
                <a href="/products/agregar" type="button" class="btn btn-success">AGREGAR</a>
              </div>
            </div> 
            </div>
      </article>
    </div>
</main>

</body>
<!-- ----scripts ----->
<%-include('../partials/scripts') %> 
<!-- ----scripts---- -->
</html>