
<html lang="es">
    <!-- ----head ----->
    <%-include('../partials/head') %>
      <!-- ----head---- -->
      <body class="admin">
        <!-- encabezado -->
        <!-- ----header ----->
        <%-include('../partials/header') %>
          <!-- ----header---- -->
          <h2>Carrusel</h2>



               <!-- ----scripts ----->
      <%-include('../partials/scripts') %>
      <!-- ----scripts---- -->
</body>

</html>