<!DOCTYPE html>
<html lang="es">

<!-- ----head ----->
<%-include('../partials/head') %>
  <!-- ----head---- -->

  <body class="productCart">
    <!-- encabezado -->
    <!-- ----header ----->
    <%-include('../partials/header') %>
      <!-- ----header---- -->
      <main>
        <div class="contenedor-carrito">
          <h1>carrito</h1>
          <!-- productos agregados -->
          <div class="productos" id="contenedorDeProductos">

        
          </div> 
          <!-- subtotal -->
       
          <!-- medios de envio -->
          <section class="envios">
              <!-- ubicacion de sucursal -->
              <div class="nuestra-sucursal">
                <p>Nuestro local - Cerca tuyo</p>
                <a href="https://goo.gl/maps/wCdnhn2ouabxhtEB8">ver mapa</a>
                <p>libreria Leaf, calle falsa 123, Buenos Aires</p>
                <p>Horario de atencion: Lunes a Viernes de 9 a 20 hs</p>
              </div>
          </section>
          <div class="total">
            <div>
              <h4>TOTAL:</h4>
              <p class="precio-total-"> <b><i class="fas fa-dollar-sign"></i></b><span id="precio-total"></span></p>
              
            </div>
            <p>pagalo hasta en 6 cuotas sin interes</p>
          </div>
          <section class="realizar-compra">
            <section class="realizar-compra">
              <a href="/products/pago" id="btn-next-buy"><button>iniciar compra</button></a>
              <a href="/products">ver mas productos</a>
            </section>

        </div>
      </main>
      <!-- pie de pagina -->
      <!-- pie de pagina -->
      <!-- ----footer ----->
      <%-include('../partials/footer') %>
        <!-- ----footer---- -->
        <!-- ----scripts ----->
        <%-include('../partials/scripts') %>
        
          <!-- ----scripts---- -->
  </body>

</html>
</body>

</html>