<!DOCTYPE html>
<html lang="es">
  <!-- ----head ----->
  <%-include('../partials/head') %> 
  <!-- ----head---- -->

  <body class="detail">
    <!-- encabezado -->
      <!-- ----header ----->
  <%-include('../partials/header') %> 
  <!-- ----header---- -->

    <!-- Main detalle del producto -->
    <main>

        <div class="seleccionProducto">
      <article class="seleccion">
        <h4>El manuscrito</h4>
        <img src="/images/el-manuscrito.png" alt="img el manuscrito" />
      </article>

      <section class="producto">
          <div class="productoArriba">
          <h4>John Grisham</h4>
          <h5>Plaza y Janes</h5>
          <h5>Disponible</h5>
        </div>
          <div class="productoAbajo">
              <p>$2000</p>
              <a class="comprar" href="">Comprar</a>
              <i class="far fa-heart"></i>
            </div>
          <p class="sinopsis">Sinopsis: Cuando el huracán Leo se desvía de su curso previsto para dirigirse hacia Camino Island, en la costa de Florida, la mayoría de sus habitantes decide abandonar la isla. Solo un pequeño grupo de irreductibles elige quedarse, entre ellos Bruce Cable, el propietario de la librería Bay Books. <a href="">Leer más</a></p>
      </section>
    </div>

      <h4 class="infoad">Información adicional</h4>

      <section class="iconoInfo">
          <div>
          <i class="fas fa-barcode"></i>
          <p>ISBN</p>
          <p>9781644734674</p>
        </div>
          <div>
          <i class="fas fa-book-open"></i>
          <p>Páginas</p>
          <p>320</p>
        </div>
          <div>
          <i class="fas fa-globe-americas"></i>
          <p>Idioma</p>
          <p>Español</p>
        </div>
          <div>
          <i class="fas fa-boxes"></i>
          <p>Género</p>
          <p>Novela</p>
        </div>
      </section>

      <h4 class="ademas">También te recomendamos</h4>

      <section class="otros">
        <article class="elPsicoanalista">
            <img
              src="/images/el-psicoanalista.jpg"
              alt="img el psicoanalista"
            />
            <div class="detalle">
              <h3>El psicoanalista</h3>
              <h4>John Katzenbach</h4>
              <p>$2100</p>
            </div>
          </article>

          <article class="laLadronaDeLibros">
            <img
              src="/images/la-ladrona-de-libros.jpg"
              alt="img la ladrona de libros"
            />
            <div class="detalle">
              <h3>La ladrona de libros</h3>
              <h4>Markus Zusak</h4>
              <p>$1900</p>
            </div>
          </article>

          <article class="laGuerraDeLosMundos">
            <img
              src="/images/la-guerra-de-los-mundos.jpg"
              alt="img la guerra de los mundos"/>
            <div class="detalle">
              <h3>La guerra de los mundos</h3>
              <h4>H. G. Wells</h4>
              <p>$2400</p>
            </div>
          </article>
      </section>


    </main>



    <!-- pie de pagina -->
    <!-- ----footer ----->
   <%-include('../partials/footer') %> 
   <!-- ----footer---- -->
  <!-- ----scripts ----->
  <%-include('../partials/scripts') %> 
  <!-- ----scripts---- -->
  </body>
</html>
