/*HEADER*/

/*MAIN*/
/*Titulo*/
.admin .administrador h1{
    font-family: var(--letra-titulo);
    font-size: 20px;
    color: var(--color-bordo);
    margin: 22px;
}
/*-----FORMULARIO-----*/
.admin .administrador .formulario{
   box-sizing: border-box;
   width: 100%;
   max-width: 600px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*ETIQUETAS DE LOS CAMPOS*/
.admin .administrador .formulario label{
    color: var(--color-bordo);
    font-weight: 600;
    font-style: oblique;
    font-size: 18px;
    margin: 15px auto;
    display: block;
}
/*BLOQUE (section) FORMATO*/

.admin .administrador .formulario .formato{
    display: flex;
}
/*BLOQUE (section) BOTONES DE AYUDA*/

.admin .administrador .formulario .isbn,
.portada{
    margin-left: 20px;
}

.admin .administrador .formulario .isbn-btn,
.portada-btn{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/*BOTONES DE AYUDA*/
.admin .administrador .formulario .btn-info{
    background-color: var(--color-bordo);
    border: none;
    font-size: 12px;
    color: var(--color-amarillo);
    padding: 3px;
    border-radius: 5px;
   margin-left: 5px;
}
/*Inputs y text area*/
.admin .administrador .formulario input::placeholder{
    color: var(--color-bordo);  
    font-family: var(--letra-titulo);
    font-weight: 400;
}

.admin .administrador .formulario input,
select,
textarea{
    width: 95%;
    background-color: rgba(240, 219, 114, 0.692);
    color: var(--color-bordo);  
    font-family: var(--letra-titulo);
    font-size: 14px;
    border: solid 1px var(--color-bordo);
}

.admin .administrador .formulario .otroAutor,
.otraEditorial,
.otroGenero{
    margin-top: 10px;
}

.admin .administrador .formulario .sinopsis textarea{
resize: none;
}

/*AVISO CAMPOS OBLIGATORIOS*/
.admin .administrador p{
    color: red;
    font-size: 14px;
    margin-bottom: 2%;
}

/*BOTONES GUARDAR Y CANCELAR*/
.admin .administrador .formulario .botones .btn-cancelar, 
.btn-guardar{
    font-family: var(--letra-titulo);
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin-bottom: 10px;
}

.admin .administrador .formulario .botones .btn-cancelar{
    background-color: var(--color-amarillo);
    color: var(--color-bordo);
    margin-right: 11px;
}

.admin .administrador .formulario .botones .btn-guardar{
    background-color: var(--color-bordo);
    color: var(--color-amarillo);
}