.index {
    width: 100%;
}

.index .mainIndex article img, .index .publicidades img, footer img{
    width:100%;
}

.index h3{
    background-color: aqua;
}

.index footer header{
    flex-wrap: wrap;
}