.carruselEjs{
    width: 60%;
   margin: 50px  auto;

}
.carruselEjs h2{
  
    text-align: left;
    margin-top: 40px;
}
.carruselEjs p{
    text-align: left;
    margin-left: 20px;
}

.carruselEjs .image{
    height: 400px;
}
.carruselEjs .imageEditarCarrusel{

    margin: auto;
}
.carruselEjs .imageEditarCarrusel img{

    margin-top: 50px;
}
.promo-carrusel img{
 width: 400px;
 height: 420px;
}
