@import url('https://fonts.googleapis.com/css2?family=KoHo&family=Open+Sans&display=swap%27');

:root{
    --letra-titulo: Open Sans;
    --letra-cuerpo: KoHo;
    --color-bordo:#63120f;
    --color-amarillo: #f0db72c9;
    --color-blanco: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--letra-cuerpo);
  max-width: 1500px;
    margin: 0 auto;
}

li{
    list-style: none;
}

a{
text-decoration: none;
color: #212529;
}

