.index .mainIndex {
  width: 100%;
  text-transform: capitalize;
}
/*Sección más vendidos*/
.index .mainIndex .cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 800;
  margin: 30px 10px 5px 10px;
}
.index .mainIndex article {
  position: relative;
}

.btn-cart {
position: static;
  border: 2px solid rgb(6, 248, 107);
  color: rgb(6, 248, 107);
  font-size: 22px;
  width: 10em;
  margin: auto;
  background-color: rgb(6, 248, 107);
  color:white;
}
.btn-cart:hover{
  box-shadow: 0px 0px 10px rgb(6, 95, 6);
}
.btn-cart i{
  transition: transform 3000ms;
}
.btn-cart i:hover{
  transform: rotateY(150deg);
}
.cont-btn{
  position: absolute;
  left: 50px;
  bottom: 140px;
  animation: aparicion 4s ;
 
}
.cont-btn-novedades{
  position: absolute;
  left: 50px;
  bottom: 40px;
  animation: aparicion 4s ;
 
}
.cont-btn-recomendados{
  position: absolute;
  left: 30px;
  bottom: -130px;
  animation: aparicion 4s ;
 
}
@keyframes aparicion{
  0%{opacity:0%}
25%{transform: translateY(-80px); opacity:100%;}
  100%{opacity:100%}

}


/* transition: transform 4000ms;
}

main section article i:hover {
  transform: rotateY(150deg);
} */
/*----
.index .mainIndex .cabecera h2 {
  margin-bottom: 0;
}

.index .mainIndex .cabecera a {
  background-color: var(--color-amarillo);
  padding: 0 5px;
  color: var(--color-bordo);
  border: solid 1px gray;
  font-size: 14px;
  border-radius: 5px;
}
/* hover de ver mas */
.index .mainIndex .cabecera a:hover {
  background-color: var(--color-bordo);
  color: var(--color-amarillo);
}
.index .mainIndex article img {
  width: 90%;
  margin: 0 5%;
  padding: 30px;
}

.index .mainIndex article .detalle {
  text-align: center;
  line-height: 10px;
  margin-top: 10px;
}

.index .mainIndex article .detalle a:hover {
  text-decoration: underline;
  color: #212529;
}

.index .mainIndex article .detalle h4 {
  font-size: 20px;
}

.index .mainIndex article .detalle p {
  font-weight: bold;
}
/*Fondo para los articulos*/
.index .mainIndex .elManuscrito img {
  background-color: lightblue;
}

.index .mainIndex .elPsicoanalista img {
  background-color: lightgray;
}

.index .mainIndex .laLadronaDeLibros img {
  background-color: lightsalmon;
}

.index .mainIndex .laGuerraDeLosMundos img {
  background-color: lightgoldenrodyellow;
}
.index .mainIndex .librosPapel img {
  background-color: lightgoldenrodyellow;
}
/* sección de novedades */

.index .mainIndex .novedades {
  background-color: rgba(255, 160, 122, 0.329);
}

/*Sección recomendados*/

.index .mainIndex .recomendados .librosRecomendados {
  height: 350px;
  margin: 40px 20px 180px 20px;
  background-color: var(--color-amarillo);
  text-align: center;
}

.index .mainIndex .recomendados .librosRecomendados img {
  width: 80%;
  height: 330px;
  padding: 5px;
  margin: 0 10%;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
/*Estilo de titulos de recomendados*/
.index .mainIndex .recomendados h3 {
  padding-top: 10px;
}

.index .mainIndex .recomendados p {
  font-size: 14px;
  line-height: 20px;
}

.index .mainIndex .recomendados div {
  font-weight: bold;
}

.index .mainIndex .recomendados .aLaCazaDeHoudini img {
  height: 320px;
}

.index .mainIndex .recomendados .estrella {
  padding-bottom: 5px;
}

/*Publicidades*/

.index .mainIndex .publicidades img {
  width: 100%;
  padding: 30px;
  background-color: whitesmoke;
}

.index .mainIndex .iconos {
  text-align: center;
}

.index .mainIndex .iconos h3 {
  font-weight: 600;
  color: gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.index .mainIndex .iconos i {
  font-size: 40px;
  color: gray;
}

@media (min-width: 361px) {
  /* Seccion mas vendidos */
  .index .mainIndex .cabecera {
    margin: 50px 10px 20px;
  }
  .index .mainIndex .cabecera h2 {
    font-size: 40px;
    font-weight: 600;
  }

  .index .mainIndex .cabecera a {
    font-size: 20px;
  }

  .index .mainIndex .articles-masVendidos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .index .mainIndex article img {
    width: 200px;
  }

  .index .mainIndex .laGuerraDeLosMundos {
    display: none;
  }

  /* sección de novedades */

  .index .mainIndex .novedades {
    padding-bottom: 30px;
  }

  .index .mainIndex .articles-novedades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .index .mainIndex .novedades img {
    width: 320px;
    height: 450px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  /*articulo noneado*/
  .index .mainIndex .articles-novedades #yoAntesDeTi {
    display: none;
  }

  .index .mainIndex .articles-recomendados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .index .mainIndex .articles-recomendados .librosRecomendados {
    margin: 0;
    width: calc(50% - 40px);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .index .noneado {
    display: none;
  }
  /* seccion de publicidades */
  .index .publicidades {
    margin-top: 180px;
  }

  .index .publicidad-abajo {
    display: flex;
    justify-content: space-between;
  }

  .index .mainIndex .publicidades img {
    padding: 0px;
  }
  .index .mainIndex .publicidades .publicidad-abajo img {
    width: 30%;
    height: 250px;
  }
  /* boton de añadir a carrito */
  .btn-cart {
      width: 8em;
    }
   
    .cont-btn{
      left: 22px;
    }
    .cont-btn-novedades{
      left: 34px;
    }
    .cont-btn-novedades .btn-cart{
      width: 11em;
    }
    .cont-btn-recomendados{
      left: 31px;
     
    }
    .cont-btn-recomendados .btn-cart{
      width: 7.5em;
    }
}

@media (min-width: 769px) {
  /*carousel*/
  .index .carousel img {
    height: 400px;
  }
  /* Seccion mas vendidos */
  .index .mainIndex .laGuerraDeLosMundos {
    display: initial;
  }
  .index .mainIndex .cabecera h2 {
    margin: 0;
    justify-content: space-between;
  }
  .index .mainIndex .detalle h3 {
    font-size: 20px;
    font-weight: 600;
  }
  /* boton de ver mas */
  .index .mainIndex .cabecera a {
    font-size: 26px;
  }

  .index .mainIndex .articles-novedades #yoAntesDeTi {
    display: initial;
    margin-right: 20px;
  }
  .index .mainIndex .novedades img {
    width: 280px;
    height: 400px;
  }
  /* seccion de recomendados */
  .index .noneado {
    display: initial;
  }
  /* articulos recomendados */
  .index .mainIndex .recomendados .librosRecomendados {
    width: 30%;
    margin-bottom: 30px;
  }
  /* seccion de publicidades */
  .index .publicidades {
    margin-top: 250px;
  }
  .index .mainIndex .publicidades img {
    padding: 30px;
  }
  .index .mainIndex .publicidades .publicidad-abajo img {
    width: 33%;
    height: 300px;
  }
  /* leaf te ofrece */
  .index .mainIndex .iconos h3 {
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .index .mainIndex .iconos .articulo-iconos {
    display: flex;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .index .mainIndex .iconos .articulo-iconos i {
    font-size: 50px;
  }
 
  
/* 
  .btn-rec-desktop{
    left: 70px;
  } 
  .btn-rec-desktop .btn-cart{
    width: 12em;
  } */
  
}
