<header id="contenedorLogo">
    <!-- seccion superior del header -->
    <nav class="header1">
      <!-- redes sociales -->
      <ul class="redes">
        <li>
          <p noResponsive>Seguinos</p>
        </li>
        <li>
          <a href=""><i class="fab fa-facebook-square"></i></a>
        </li>
        <li>
          <a href=""><i class="fab fa-instagram-square"></i></a>
        </li>
        <li>
          <a href=""><i class="fab fa-twitter-square"></i></a>
        </li>
      </ul>
      <!-- mi cuenta -->
      <div class="login">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user"></i>
            <p>Mi cuenta</p>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/users/login">Ingresar</a></li>
            <li><a class="dropdown-item" href="/users/register">Registrate</a></li>
            <li><a class="dropdown-item" href="/products/administrador">Administrador</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- seccion inferior del header -->
    <nav class="header2">
      <div class="contenedorLogo">
        <a href="/"> <img class="logo" src="/images/logo-leaf-remaster.png" alt="logo de Leaf" /></a>
      </div>
      <!-- categorias -->
      <ul class="categorias noResponsive">
        <li><a class="noResponsive" href="/products/libros">Libros</a></li>
        <li><a class="noResponsive" href="/products/ebooks">Ebooks</a></li>
        <li>
          <div class="dropdown ul-generos">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
             Generos
            </button>
            <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
              <% generos.forEach(genero => { %>
              <li><a class="dropdown-item" href="/products/<%=genero%>"><%=genero%></a></li>
              <% }) %>
            </ul>
          </div>
              
              
              <li>  <a href=""> </a></li>
              
              
          
           
        </li>
      </ul>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
      <!-- buscador -->
      <div class="buscador">
        <form action="/search" method="GET">
          <select>
            <option selected>Libros</option>
            <option value="2"><a href="">Ebooks</a></option>
          </select>
          <input name="search" class="orm-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
          <button class="btn btn-outline-light" type="submit" ><i class="fas fa-search"></i></button>
        </form>
      </div>
      <!-- carrito -->
      <button class="carrito noMovil">
        <a href="/products/carrito"><i class="fas fa-shopping-cart"></i></a>
        <p>0</p>
      </button>
      <!-- mi cuenta -->
      <div class="login">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user"></i>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/users/login">Ingresar</a></li>
            <li><a class="dropdown-item" href="/users/register">Registrate</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>