<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/leafPestania.ico" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/styles.css">
    

    <title>Libreria LEAF</title>
</head>

<body class="index">
    <!-- encabezado -->
    <header>
        <!-- seccion superior del header -->
        <nav class="header1">
            <!-- redes sociales -->
            <ul class="redes">
                <li>Seguinos</li>
                <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                <li><a href=""><i class="fab fa-instagram-square"></i></a></li>
                <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
            </ul>
            <!-- mi cuenta -->
            <div class="login">
                <i class="fas fa-user"></i>
                <p>Mi cuenta</p>
                <form>
                    <select>
                        <option selected></option>
                        <option value="1"><a href="">Ingresar</a></option>
                        <option value="2"><a href="">Registrate</a></option>
                    </select>
                </form>
            </div>
        </nav>
        <!-- seccion inferior del header -->
        <nav class="header2">
            <div class="contenedorLogo">
            <img class="logo" src="/images/logo-leaf.png" alt="logo de Leaf">
        </div>
            <!-- categorias -->
            <ul class="categorias">
                <li><a href="">Libros</a></li>
                <li><a href="">Ebooks</a></li>
                <li>
                    <form>
                        <select>
                            <option selected>Géneros</option>
                            <option value="1"><a href="">Romance</a></option>
                            <option value="2"><a href="">Misterio</a></option>
                            <option value="2"><a href="">Terror</a></option>
                        </select>
                    </form>
                </li>
            </ul>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <!-- buscador -->
            <div class="buscador">
                <form>
                    <select>
                        <option selected>Libros</option>
                        <option value="2"><a href="">Ebooks</a></option>
                    </select>
                    <input type="text" placeholder="Buscar..."><i class="fas fa-search"></i>
                </form>
            </div>
            <!-- carrito -->
            <button class="carrito"><a href=""><i class="fas fa-shopping-cart"></i></a>
                <p>0</p>
            </button>
        </nav>
    </header>

    <main>
        <!-- proximamente carrousel de 3 imagenes -->
        <div class="carrousel">
            <img src="/images/banner1.png" alt="leaf oferta">
        </div>

        <section class="masVendidos">
            <h2>mas vendidos</h2>
            <a href="">ver todos los libros</a>

            <button><i><i class="fas fa-chevron-left"></i></i></i></button>

            <article class="elManuscrito">
                <img src="/images/el-manuscrito.png" alt="img el manuscrito">
                <div class="detalle">
                    <h3>el manuscrito</h3>
                    <h4>John Grisham</h4>
                    <p>$1500</p>
                </div>
            </article>

            <article class="elPsicoanalista">
                <img src="/images/el-psicoanalista.jpg" alt="img el psicoanalista">
                <div class="detalle">
                    <h3>el psicoanalista</h3>
                    <h4>John Katzenbach</h4>
                    <p>$2100</p>
                </div>
            </article>

            <article class="laLadronaDeLibros">
                <img src="/images/la-ladrona-de-libros.jpg" alt="img la ladrona de libros">
                <div class="detalle">
                    <h3>la ladrona de libros</h3>
                    <h4>Markus Zusak</h4>
                    <p>$1900</p>
                </div>
            </article>

            <article class="laGuerraDeLosMundos">
                <img src="/images/la-guerra-de-los-mundos.jpg" alt="img la guerra de los mundos">
                <div class="detalle">
                    <h3>la guerra de los mundos</h3>
                    <h4>H. G. Wells</h4>
                    <p>$2400</p>
                </div>
            </article>
            <button><i><i class="fas fa-chevron-right"></i></i></i></button>
        </section>

        <section class="novedades">

            <h2>novedades</h2>
            <a href="">ver todos los libros</a>

            <article>
                <a href=""><img src="/images/la-tia-cosima.jpg" alt=""></a>
            </article>

            <button><i><i class="fas fa-chevron-left"></i></i></i></button>

            <article>
                <a href=""><img src="/images/al-final-mueren-los-dos.png" alt=""></a>
            </article>

            <button><i><i class="fas fa-chevron-right"></i></i></i></button>

            <article>
                <a href=""><img src="/images/yo-antes-de-ti.jpg" alt=""></a>
            </article>

            <section class="recomendados">
                <h2>recomendados</h2>
                <a href="">ver recomendados</a>

                <article class="laSombraDelViento">
                    <h3>la sombra del viento</h3>
                    <p>primer libro de la saga del Cementerio de los libros olvidados y un superventas mundial</p>
                    <span>$1400</span>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <img src="/images/sombra-del-viento.jpg" alt="img la sombra del viento">
                </article>

                <article class="aLaCazaDeHoudini">
                    <h3>a la caza de houdini</h3>
                    <p>la tercer entrega en la saga juvenil histórica escrita por la autora estadounidense, Kerri
                        Maniscalco</p>
                    <span>$1300</span>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <img src="/images/a-la-caza-de-houdini.png" alt="img a la caza de houdini">
                </article>

                <article class="aTravesDeMiVentana">
                    <h3>a traves de mi ventana</h3>
                    <p>¡Llega al fin la novela juvenil que está triunfando en Wattpad!</p>
                    <span>$1200</span>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <img src="/images/a-traves-de-mi-ventana.jpg" alt="img a traves de mi ventana">
                </article>

                <section class="publicidades">
                    <img class="promo1" src="/images/promo1.png" alt="">
                    <img class="promo2" src="/images/promo2.png" alt="">
                    <img class="promo3" src="/images/promo3.jpg" alt="">
                    <img class="promo4" src="/images/promo4.png" alt="">
                </section>

                <section class="iconos">
                    <h3>en leaf te ofrecemos</h3>
                    <article class="envios">
                        <i class="fas fa-truck"></i>
                        <p>compra online y <strong> envios a domicilio </strong></p>
                    </article>
                    <article class="tarjetas">
                        <i class="far fa-credit-card"></i>
                        <p>pagos fáciles y seguros con <strong>tarjetas de credito</strong></p>
                    </article>
                    <article class="cambios">
                        <i class="fas fa-book"></i>
                        <p>simples y rápidos <strong>cambio de libros</strong></p>
                    </article>
                    <article class="precios">
                        <i class="fas fa-dollar-sign"></i>
                        <p>los mejores <strong> precios y ofertas</strong></p>
                    </article>

                </section>


            </section>

        </section>

    </main>


    <!-- pie de pagina -->
    <footer>
        <img src="/images/logo-leaf.png" alt="">
        <!-- footer seccion arriba -->
        <div class="footer-arriba">
            <!-- redes sociales -->
            <ul class="redes">
                <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                <li><a href=""><i class="fab fa-instagram-square"></i></a></li>
                <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
            </ul>
            <p>Seguinos y enterate de todas las novedades</p>
        </div>
        <!-- footer seccion media -->
        <div class="footer-medio">
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Categorias</a></li>
                <li><a href="">Libros</a></li>
                <li><a href="">Ebooks</a></li>
                <li><a href="">Como comprar</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="">Preguntas frecuentes</a></li>
                <li><a href="">Quienes somos</a></li>
                <li><a href="">Trabaja con nosotros</a></li>
                <li><a href="">Locales</a></li>
                <li><a href="">Politicas</a></li>
            </ul>
        </div>
        <!-- footer seccion baja -->
        <div class="footer-abajo">
            <!-- medios de pago -->
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-paypal"></i>
            <!-- imagen de libreria -->
            <img src="/images/leafFooter.png" alt="">
            <!-- email -->
            <a href="mailto:ventas@leaf.com"> <i class="far fa-envelope"></i>ventas@leaf.com
            </a>
        </div>
        <!-- terminos y condiciones -->
        <div class="terminos">
            <p>Aviso de privacidad|Terminos y condiciones</p>
            <p>Los precios publicados en esta tienda están sujetos a cambios sin previo aviso y solo son aplicables para
                ventas en línea.</p>
            <p>Algunos títulos están sujetos a disponibilidad.</p>
        </div>
    </footer>
</body>

</html>