<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/images/leafPestania.ico" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">

    <title>Login LEAF</title>
</head>
<body>
    <img src="" alt="imagen de constado más redes">



    <header>
        <img src="/images/logo-leaf.png" alt="logo de Leaf">

    <p>¿Aún no tienes cuenta?</p>
    <a href="">REGISTRATE</a>  <!-- Usar text transform uppercase en css -->
    </header>

    <main>

        <a href=""><i class="fas fa-chevron-left"></i>Volver</a>

        <h2>Ingresa a tu cuenta</h2>
        <input type="text" placeholder="Correo electrónico">

        <input type="text" placeholder="Contraseña">

        <p>¿Olvidaste tu contraseña?</p>

        <!-- Posibles errores -->

        <p>*Este correo no es válido*</p>

        <p>*La contraseña es incorrecta*</p>

        <button  type="submit">Iniciar sesión</button>


    </main>
</body>
</html>