<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/images/leafPestania.ico" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">

    <title>Login-LEAF</title>
</head>

<body class="body">
    <header>
        <img src="/images/logo-leaf-remaster.png" alt="Logo de leaf">
        <a href="">registrate</a>
    </header>

    <main>
        <form action="">
            <button><i class="fas fa-chevron-left"></i>Volver</button>
            <h2>Ingresa a tu cuenta</h2>

                <div class="ingresar"><input type="email" name="email" id="email" placeholder="Correo electronico"></div>
                <!-- Posibles errores -->
                <span>*Este correo no es válido*</span>
            
                <div class="password"><input type="password" name="password" id="password" placeholder="Contraseña"></div>
                <!-- Posibles errores -->
                <span>¿Olvidaste tu contraseña?</span> <br>
                <span>*La contraseña es incorrecta*</span> <br>
        

            <button type="submit">Iniciar sesión</button>

        </form>

    </main>
</body>

</html>