<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finalizar compra | LEAF</title>
    <link rel="shortcut icon" href="/images/logo-leaf-remaster.png" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header id="contenedorLogo">
      <!-- seccion superior del header -->
      <nav class="header1">
        <!-- redes sociales -->
        <ul class="redes">
          <li>
            <p>Seguinos</p>
          </li>
          <li>
            <a href=""><i class="fab fa-facebook-square"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-instagram-square"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-twitter-square"></i></a>
          </li>
        </ul>
        <!-- mi cuenta -->
        <div class="login">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-user"></i>
              <p>Mi cuenta</p>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/login">Ingresar</a></li>
              <li><a class="dropdown-item" href="/register">Registrate</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- seccion inferior del header -->
      <nav class="header2">
        <div class="contenedorLogo">
          <a href="/">
            <img
              class="logo"
              src="/images/logo-leaf-remaster.png"
              alt="logo de Leaf"
          /></a>
        </div>
        <!-- categorias -->
        <ul class="categorias">
          <li><a href="">Libros</a></li>
          <li><a href="">Ebooks</a></li>
          <li>
            <form>
              <select>
                <option selected>Géneros</option>
                <option value="1"><a href="">Romance</a></option>
                <option value="2"><a href="">Misterio</a></option>
                <option value="2"><a href="">Terror</a></option>
              </select>
            </form>
          </li>
        </ul>
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
        <!-- buscador -->
        <div class="buscador">
          <form>
            <select>
              <option selected>Libros</option>
              <option value="2"><a href="">Ebooks</a></option>
            </select>
            <input type="text" placeholder="Buscar..." /><i
              class="fas fa-search"
            ></i>
          </form>
        </div>
        <!-- carrito -->
        <button class="carrito">
          <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
          <p>0</p>
        </button>
        <!-- mi cuenta -->
        <div class="login">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-user"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/login">Ingresar</a></li>
              <li><a class="dropdown-item" href="/register">Registrate</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <h1 class="payForm-title">Finaliza tu compra</h1>
      <div class="payForm-container">
        <div class="payForm-form">
          <form action="" method="POST">
            <div class="payForm-cuenta">
              <h2 class="payForm-subtitle">Mi cuenta:</h2>
              <!-- links para registrarse o loguearse -->
              <div class="payForm-btn-cuenta">
              <a class="payForm-cuenta--a" href="/login">¿Ya tienes cuenta?</a>
              <a class="payForm-cuenta--a" href="/register">¿Aún no tienes cuenta?</a>
            </div>
            </div>
            <div class="payForm-facturacion">
              <h2 class="payForm-subtitle">Datos de facturación:</h2>
              <input class="payForm-input" type="text" name="nombre" placeholder="Nombre/s" />
              <input class="payForm-input" type="text" name="apellido" placeholder="Apellido/s" />
              <input class="payForm-input" type="number" name="telefono" placeholder="Teléfono" />
            </div>
            <div class="payForm-envio">
              <h2 class="payForm-subtitle">Medio de envío:</h2>
              <!-- opciones de envío -->
              <!-- si es ebook -->
              <div class="payForm-radio--aside">
                <input class="payForm-input payForm-input--aside"
                type="radio"
                id="retiro-ebook"
                value="retiro-ebook"
                name="medio-envio"
                data-bs-toggle="collapse"
                data-bs-target="#collapseExample"
                aria-expanded="false"
                aria-controls="collapseExample"
                role="radio"
              />
              <label class="payForm-label" for="retiro-ebook">Enviar mi e-book a este mail:</label>
            </div>
              <!-- bootstrap collapse, no se muestra si no selecciona ebook -->
              <input class="payForm-input"
                type="email"
                name="envio-ebook"
                placeholder="E-mail de envío"
                class="collapse"
                id="collapseExample"
              />
              <!-- retiro en local-->
              <div class="payForm-radio--aside">
              
              <input class="payForm-input payForm-input--aside"
                type="radio"
                id="retiro-local"
                value="retiro-local"
                name="medio-envio"
              />
              <label class="payForm-label" for="retiro-local"
                >Retiro gratis en el local Calle Falsa N°123</label
              >
            </div>
              <!-- retiro en correo-->
              <div class="payForm-radio--aside">
              
              <input class="payForm-input payForm-input--aside"
                type="radio"
                id="retiro-correo"
                value="retiro-correo"
                name="medio-envio"
              />
              <label class="payForm-label" for="retiro-correo"
                >Retiro gratis en el correo Calle Perdida S/N</label
              >
            </div>
              <!-- A domicilio-->
              <div class="payForm-radio--aside">
              
              <input class="payForm-input payForm-input--aside"
                type="radio"
                id="envio-domicilio"
                value="envio-domicilio"
                name="medio-envio"
                data-bs-toggle="collapse"
                href="#multiCollapseExample1"
                role="radiogroup"
                aria-expanded="false"
                aria-controls="multiCollapseExample1"
              />
              <label class="payForm-label" for="envio-domicilio">Envío a mi domicilio</label>
            </div>
              <!-- bootstrap collapse, no se muestran opciones si no selecciona a domicilio -->
              <input class="payForm-input"
                type="text"
                name="calle"
                placeholder="Calle"
                class="collapse multi-collapse"
                id="multiCollapseExample1"
              />
              <input class="payForm-input"
                type="text"
                name="altura"
                placeholder="Número"
                class="collapse multi-collapse"
                id="multiCollapseExample1"
              />
              <input class="payForm-input"
                type="number"
                name="codigo-postal"
                placeholder="Código Postal"
                class="collapse multi-collapse"
                id="multiCollapseExample1"
              />
              <select
                name="provincia"
                class="collapse multi-collapse payForm-select"
                id="multiCollapseExample1"
              >
                <option value="" hidden selected class="collapse multi-collapse payForm-select--option"
                id="multiCollapseExample1">
                  Seleccione su provincia
                </option>
                <option value="caba" class="collapse multi-collapse"
                id="multiCollapseExample1">CABA</option>
                <option value="buenos-aires" class="collapse multi-collapse"
                id="multiCollapseExample1">Buenos Aires</option>
              </select>
              <input class="payForm-input"
                type="text"
                name="localidad"
                placeholder="Localidad"
                class="collapse multi-collapse"
                id="multiCollapseExample1"
              />
            </div>
            <div class="payForm-pago">
              <h2 class="payForm-subtitle">Medio de pago:</h2>
              <!-- efectivo -->
              <div class="payForm-radio--aside">
              
              <input class="payForm-input payForm-input--aside"
                type="radio"
                name="medio-pago"
                id="credito"
                value="credito-debito"
                data-bs-toggle="collapse"
                href="#multiCollapseExample2"
                role="radiogroup"
                aria-expanded="false"
                aria-controls="multiCollapseExample2"
              />
              <label class="payForm-label" for="credito">Tarjeta de crédito o débito</label>
            </div>
              <!-- bootstrap collapse, no se muestran opciones si no selecciona a domicilio -->
              <input class="payForm-input"
                type="text"
                name="titular-tarjeta"
                placeholder="Nombre titular de la tarjeta"
                class="collapse multi-collapse"
                id="multiCollapseExample2"
              />
              <select
                name="tarjeta-tipo"
                class="payForm-select collapse multi-collapse"
                id="multiCollapseExample2"
              >
                <option value="" hidden selected>Seleccione su tarjeta</option>
                <option value="Visa">Visa</option>
                <option value="mastercard">Mastercard</option>
              </select>
              <input class="payForm-input"
                type="number"
                name="numero-tarjeta"
                placeholder="Número de tarjeta"
                class="collapse multi-collapse"
                id="multiCollapseExample2"
              />
              <label class="payForm-label"
                for="fecha-vencimiento"
                class="collapse multi-collapse"
                id="multiCollapseExample2"
                >Mes y año de vencimiento:</label
              >
              <input class="payForm-input"
                type="month"
                name="fecha-vencimiento"
                class="collapse multi-collapse"
                id="multiCollapseExample2"
              />
              <input class="payForm-input"
                type="number"
                name="codigo-seguridad"
                placeholder="Código de seguridad"
                class="collapse multi-collapse"
                id="multiCollapseExample2"
              />
              <!-- paypal -->
              <div class="payForm-radio--aside">
              
              <input class="payForm-input payForm-input--aside"
                type="radio"
                name="medio-pago"
                id="payPal"
                value="paypal"
              />
              <label class="payForm-label" for="paypal">Paypal</label>
            </div>
              <!-- efectivo -->
              <div class="payForm-radio--aside">
            
              <input class="payForm-input payForm-input--aside"
                type="radio"
                name="medio-pago"
                id="efectivo"
                value="efectivo"
              />
              <label class="payForm-label" for="efectivo">Efectivo en nuestro local</label>
            </div>
          </div>
            <button class="payForm-btn" type="submit">Finalizar compra</button>
          </form>
        </div>
        <!-- Resumen de compra y suma de envio -->
        <aside class="payForm-description">
          <!-- bootstrap card-images-horizontal -->
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <h4 class="payForm-card-title">Resumen de tu compra</h4>
                <img
                  src="/images/sombra-del-viento.jpg"
                  class="img-fluid rounded-start"
                  alt="La sombra del viento"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <div class="payForm-calc-compra">
                    <h5 class="card-title">La sombra del viento</h5>
                    <h6>Carlos Ruiz Zafón</h6>
                    <p>Libro</p>
                    <p>Cantidad: 1</p>
                    <p>$1300</p>
                  </div>
                  <div class="payForm-calc-envio">
                    <h5 class="card-title">Forma de envio</h5>
                    <h6>Retiro gratis en el local Calle Falsa N°123</h6>
                    <p>Costo:</p>
                    <p>$0</p>
                  </div>
                  <div class="payForm-subtotal">
                    <h6>Subtotal:</h6>
                    <p>$1300</p>
                  </div>
                  <div class="payForm-total">
                    <h6>Total a pagar:</h6>
                    <p>$1300</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </main>
    <!-- pie de pagina -->
    <footer>
      <div class="cabecera-footer">
        <a href="#contenedorLogo">
          <img src="/images/logo-leaf-remaster.png" alt=""
        /></a>
        <!-- footer seccion arriba -->
        <div class="footer-arriba">
          <!-- redes sociales -->
          <ul class="redes">
            <li>
              <a href=""><i class="fab fa-facebook-square"></i></a>
            </li>
            <li>
              <a href=""><i class="fab fa-instagram-square"></i></a>
            </li>
            <li>
              <a href=""><i class="fab fa-twitter-square"></i></a>
            </li>
          </ul>
          <p>Seguinos y enterate de todas las novedades</p>
        </div>
      </div>

      <!-- footer seccion media -->
      <div class="footer-medio">
        <ul>
          <li><a href="">Inicio</a></li>
          <li><a href="">Como comprar</a></li>
          <li><a href="">Contacto</a></li>
          <li><a href="/preguntasFrecuentes">Preguntas frecuentes</a></li>
          <li><a href="">Quienes somos</a></li>
          <li><a href="">Trabaja con nosotros</a></li>
          <li><a href="">Locales</a></li>
          <li><a href="">Politicas</a></li>
        </ul>
      </div>

      <!-- footer seccion baja -->
      <div class="footer-abajo">
        <!-- medios de pago -->
        <div class="tarjetas">
          <i class="fab fa-cc-visa"></i>
          <i class="fab fa-cc-mastercard"></i>
          <i class="fab fa-cc-paypal"></i>
        </div>
        <!-- imagen de libreria -->
        <img src="/images/leafFooter.png" alt="" />
        <!-- email -->
        <a href="mailto:ventas@leaf.com">
          <i class="far fa-envelope"></i>ventas@leaf.com
        </a>
      </div>
      <!-- terminos y condiciones -->
      <div class="terminos">
        <p>Aviso de privacidad | Terminos y condiciones</p>
        <p>
          Los precios publicados en esta tienda están sujetos a cambios sin
          previo aviso y solo son aplicables para ventas en línea.
        </p>
        <p>Algunos títulos están sujetos a disponibilidad.</p>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
