<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header></header>
    <main>
        <!-- productos agregados -->
        <article>
            <img src="/sprint2/public/" alt="">
            <h3>Sombra del viento</h3>
            <!-- cantidad -->
            <div class="cantidad">
                <p>0</p>
            </div>
            <!-- precio -->
            <div class="precio">
                <i class="fas fa-dollar-sign"></i>
                <p class="precio">1800</p>
            </div>
            <!-- cancelar -->
            <i class="fas fa-times"></i>
        </article>

        <article>
            <img src="" alt="">
            <h3>titulo</h3>
            <!-- cantidad -->
            <div class="cantidad">
                <p>0</p>
            </div>
            <!-- precio -->
            <div class="precio">
                <i class="fas fa-dollar-sign"></i>
                <p class="precio">1800</p>
            </div>
            <!-- cancelar -->
            <i class="fas fa-times"></i>
        </article>
    </main>
    <footer></footer>
</body>

</html>