<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/logo-leaf-remaster.png" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/styles.css" />

    <title>Detalle del producto</title>
  </head>

  <body class="detail">
    <!-- encabezado -->
    <header>
      <!-- seccion superior del header -->
      <nav class="header1">
        <!-- redes sociales -->
        <ul class="redes">
          <li>
            <p>Seguinos</p>
          </li>
          <li>
            <a href=""><i class="fab fa-facebook-square"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-instagram-square"></i></a>
          </li>
          <li>
            <a href=""><i class="fab fa-twitter-square"></i></a>
          </li>
        </ul>
        <!-- mi cuenta -->
        <div class="login">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-user"></i>
              <p>Mi cuenta</p>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/login">Ingresar</a></li>
              <li><a class="dropdown-item" href="/register">Registrate</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- seccion inferior del header -->
      <nav class="header2">
        <div class="contenedorLogo">
            <a class="logo" href="/"><img src="/images/logo-leaf-remaster.png"alt="logo de Leaf"></src></a>
        </div>
        <!-- categorias -->
        <ul class="categorias">
          <li><a href="">Libros</a></li>
          <li><a href="">Ebooks</a></li>
          <li>
            <form>
              <select>
                <option selected>Géneros</option>
                <option value="1"><a href="">Romance</a></option>
                <option value="2"><a href="">Misterio</a></option>
                <option value="2"><a href="">Terror</a></option>
              </select>
            </form>
          </li>
        </ul>
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
        <!-- buscador -->
        <div class="buscador">
          <form>
            <select>
              <option selected>Libros</option>
              <option value="2"><a href="">Ebooks</a></option>
            </select>
            <input type="text" placeholder="Buscar..." /><i
              class="fas fa-search"
            ></i>
          </form>
        </div>
        <!-- carrito -->
        <button class="carrito">
          <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
          <p>0</p>
        </button>
        <!-- mi cuenta -->
        <div class="login">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-user"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="/login">Ingresar</a></li>
              <li><a class="dropdown-item" href="/register">Registrate</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Main detalle del producto -->
    <main>

        <div class="seleccionProducto">
      <article class="seleccion">
        <h4>El manuscrito</h4>
        <img src="/images/el-manuscrito.png" alt="img el manuscrito" />
      </article>

      <section class="producto">
          <div class="productoArriba">
          <h4>John Grisham</h4>
          <h5>Plaza y Janes</h5>
          <h5>Disponible</h5>
        </div>
          <div class="productoAbajo">
              <p>$2000</p>
              <a class="comprar" href="">Comprar</a>
              <i class="far fa-heart"></i>
            </div>
          <p class="sinopsis">Sinopsis: Cuando el huracán Leo se desvía de su curso previsto para dirigirse hacia Camino Island, en la costa de Florida, la mayoría de sus habitantes decide abandonar la isla. Solo un pequeño grupo de irreductibles elige quedarse, entre ellos Bruce Cable, el propietario de la librería Bay Books. <a href="">Leer más</a></p>
      </section>
    </div>

      <h4 class="infoad">Información adicional</h4>

      <section class="iconoInfo">
          <div>
          <i class="fas fa-barcode"></i>
          <p>ISBN</p>
          <p>9781644734674</p>
        </div>
          <div>
          <i class="fas fa-book-open"></i>
          <p>Páginas</p>
          <p>320</p>
        </div>
          <div>
          <i class="fas fa-globe-americas"></i>
          <p>Idioma</p>
          <p>Español</p>
        </div>
          <div>
          <i class="fas fa-boxes"></i>
          <p>Género</p>
          <p>Novela</p>
        </div>
      </section>

      <h4 class="ademas">También te recomendamos</h4>

      <section class="otros">
        <article class="elPsicoanalista">
            <img
              src="/images/el-psicoanalista.jpg"
              alt="img el psicoanalista"
            />
            <div class="detalle">
              <h3>El psicoanalista</h3>
              <h4>John Katzenbach</h4>
              <p>$2100</p>
            </div>
          </article>

          <article class="laLadronaDeLibros">
            <img
              src="/images/la-ladrona-de-libros.jpg"
              alt="img la ladrona de libros"
            />
            <div class="detalle">
              <h3>La ladrona de libros</h3>
              <h4>Markus Zusak</h4>
              <p>$1900</p>
            </div>
          </article>

          <article class="laGuerraDeLosMundos">
            <img
              src="/images/la-guerra-de-los-mundos.jpg"
              alt="img la guerra de los mundos"/>
            <div class="detalle">
              <h3>La guerra de los mundos</h3>
              <h4>H. G. Wells</h4>
              <p>$2400</p>
            </div>
          </article>
      </section>


    </main>



    <!-- pie de pagina -->
    <footer>
      <div class="cabecera-footer">
        <a href="/"><img src="/images/logo-leaf-remaster.png" alt="logo de leaf"/></a>
        <!-- footer seccion arriba -->
        <div class="footer-arriba">
          <!-- redes sociales -->
          <ul class="redes">
            <li>
              <a href=""><i class="fab fa-facebook-square"></i></a>
            </li>
            <li>
              <a href=""><i class="fab fa-instagram-square"></i></a>
            </li>
            <li>
              <a href=""><i class="fab fa-twitter-square"></i></a>
            </li>
          </ul>
          <p>Seguinos y enterate de todas las novedades</p>
        </div>
      </div>
      <!-- footer seccion media -->
      <div class="footer-medio">
        <ul>
          <li><a href="">Inicio</a></li>
          <li><a href="">Como comprar</a></li>
          <li><a href="">Contacto</a></li>
          <li><a href="">Preguntas frecuentes</a></li>
          <li><a href="">Quienes somos</a></li>
          <li><a href="">Trabaja con nosotros</a></li>
          <li><a href="">Locales</a></li>
          <li><a href="">Politicas</a></li>
        </ul>
      </div>
      <!-- footer seccion baja -->
      <div class="footer-abajo">
        <!-- medios de pago -->
        <div class="tarjetas">
          <i class="fab fa-cc-visa"></i>
          <i class="fab fa-cc-mastercard"></i>
          <i class="fab fa-cc-paypal"></i>
        </div>
        <!-- imagen de libreria -->
        <img src="/images/leafFooter.png" alt="" />
        <!-- email -->
        <a href="mailto:ventas@leaf.com">
          <i class="far fa-envelope"></i>ventas@leaf.com
        </a>
      </div>
      <!-- terminos y condiciones -->
      <div class="terminos">
        <p>Aviso de privacidad | Terminos y condiciones</p>
        <p>
          Los precios publicados en esta tienda están sujetos a cambios sin
          previo aviso y solo son aplicables para ventas en línea.
        </p>
        <p>Algunos títulos están sujetos a disponibilidad.</p>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
