<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Carrito de compras</title>
</head>

<body class="productCart">
    <!-- encabezado -->
    <header>
        <!-- seccion superior del header -->
        <nav class="header1">
            <!-- redes sociales -->
            <ul class="redes">
                <li>Seguinos</li>
                <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                <li><a href=""><i class="fab fa-instagram-square"></i></a></li>
                <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
            </ul>
            <!-- mi cuenta -->
            <div class="login">
                <i class="fas fa-user"></i>
                <p>Mi cuenta</p>
                <form>
                    <select>
                        <option selected></option>
                        <option value="1"><a href="">Ingresar</a></option>
                        <option value="2"><a href="">Registrate</a></option>
                    </select>
                </form>
            </div>
        </nav>
        <!-- seccion inferior del header -->
        <nav class="header2">
            <img src="/images/logo-leaf.png" alt="logo de Leaf">
            <!-- categorias -->
            <ul class="categorias">
                <li><a href="">Libros</a></li>
                <li><a href="">Ebooks</a></li>
                <li>
                    <form>
                        <select>
                            <option selected>Géneros</option>
                            <option value="1"><a href="">Romance</a></option>
                            <option value="2"><a href="">Misterio</a></option>
                            <option value="2"><a href="">Terror</a></option>
                        </select>
                    </form>
                </li>
            </ul>
            <!-- buscador -->
            <div class="buscador">
                <form>
                    <select>
                        <option selected>Libros</option>
                        <option value="2"><a href="">Ebooks</a></option>
                    </select>
                    <input type="text" placeholder="Buscar..."><i class="fas fa-search"></i>
                </form>
            </div>
            <!-- carrito -->
            <button class="carrito"><a href=""><i class="fas fa-shopping-cart"></i></a>
                <p>0</p>
            </button>
        </nav>
    </header>
    <main>
        <h1>carrito</h1>
        <!-- productos agregados -->
        <section class="productos">

            <article class="productos-agregados">
                <img src="/images/sombra-del-viento.jpg" alt="">
                <div class="contenido">
                    <h3>La sobra del viento</h3>
                    <!-- cancelar -->
                    <div class="eliminar">
                        <i class="fas fa-times" size:5px></i>
                    </div>
                    <!-- cantidad -->
                    <div class="cantidad">
                        <select>
                            <option selected>cant.</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <!-- precio -->
                    <div class="precio">
                        <i class="fas fa-dollar-sign"></i>
                        <p class="precio">1300</p>
                    </div>
                </div>
            </article>

            <article class="productos-agregados">
                <img src="/images/la-tia-cosima.jpg" alt="">
                <div class="contenido">
                    <h3>La tia cosima</h3>
                    <!-- cancelar -->
                    <div class="eliminar">
                        <i class="fas fa-times"></i>
                    </div>
                    <!-- cantidad -->
                    <div class="cantidad">
                        <input type="number" name="cantidad" id="cantidad" placeholder="Cant.">
                    </div>
                    <!-- precio -->
                    <div class="precio">
                        <i class="fas fa-dollar-sign"></i>
                        <p class="precio">1800</p>
                    </div>
                </div>
            </article>
        </section>
        <!-- subtotal -->
        <section class="subtotal">
            <h4>Subtotal</h4>
            <div> <i class="fas fa-dollar-sign"></i>
                <p class="precio">3.100</p>
            </div>
        </section>
        <!-- medios de envio -->
        <section class="envios">
            <h3>Medios de envio</h3>
            <form action="" method="POST">
                <div class="tipos-envios">
                    <div>
                        <input type="radio" name="tipo-envio" value="a-domicilio" id="a-domicilio">
                        <label for="a-domicilio">A domicilio</label>
                    </div>
                    <div>
                        <input type="radio" name="tipo-envio" value="correo" id="correo">
                        <label for="correo">Retirar en correo</label>
                    </div>
                    <div>
                        <input type="radio" name="tipo-envio" value="domicilio-vendedor" id="domicilio-vendedor">
                        <label for="domicilio-vendedor">Retirar en sucursal</label>
                    </div>
                </div>
            </form>
            <div>
                <!-- aqui devolveria el precio del tipo de envio seleccionado -->
                <div class="localidad">
                    <form action="">
                        <label for="domicilio">Ingresa tu localidad</label>
                        <input type="text" id="domicilio" placeholder="Localidad">
                        <button type="submit">Calcular</button>
                    </form>
                </div>
                <!-- ubicacion de sucursal -->
                <div class="nuestra-sucursal">
                    <p>Nuestro local - Cerca tuyo</p>
                    <a href="https://goo.gl/maps/wCdnhn2ouabxhtEB8">ver mapa</a>
                    <p>libreria Leaf, calle falsa 123, Buenos Aires</p>
                    <p>Horario de atencion: Lunes a Viernes de 9 a 20 hs</p>
                </div>
        </section>
        <div class="total">
            <div>
                <h4>TOTAL:</h4>
                <span>$3.500</span>
            </div>
            <p>pagalo hasta en 6 cuotas sin interes</p>
        </div>
        <section class="realizar-compra">
            <button>iniciar compra</button>
            <a href="">ver mas productos</a>
        </section>
    </main>
    <!-- pie de pagina -->
    <footer>
        <img src="/images/logo-leaf.png" alt="">
        <!-- footer seccion arriba -->
        <div class="footer-arriba">
            <!-- redes sociales -->
            <ul class="redes">
                <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                <li><a href=""><i class="fab fa-instagram-square"></i></a></li>
                <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
            </ul>
            <p>Seguinos y enterate de todas las novedades</p>
        </div>
        <!-- footer seccion media -->
        <div class="footer-medio">
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Categorias</a></li>
                <li><a href="">Libros</a></li>
                <li><a href="">Ebooks</a></li>
                <li><a href="">Como comprar</a></li>
                <li><a href="">Contacto</a></li>
                <li><a href="">Preguntas frecuentes</a></li>
                <li><a href="">Quienes somos</a></li>
                <li><a href="">Trabaja con nosotros</a></li>
                <li><a href="">Locales</a></li>
                <li><a href="">Politicas</a></li>
            </ul>
        </div>
        <!-- footer seccion baja -->
        <div class="footer-abajo">
            <!-- medios de pago -->
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-paypal"></i>
            <!-- imagen de libreria -->
            <img src="/images/leafFooter.png" alt="">
            <!-- email -->
            <a href="mailto:ventas@leaf.com"> <i class="far fa-envelope"></i>ventas@leaf.com
            </a>
        </div>
        <!-- terminos y condiciones -->
        <div class="terminos">
            <p>Aviso de privacidad|Terminos y condiciones</p>
            <p>Los precios publicados en esta tienda están sujetos a cambios sin previo aviso y solo son aplicables para
                ventas en línea.</p>
            <p>Algunos títulos están sujetos a disponibilidad.</p>
        </div>
    </footer>
</body>

</html>