<!DOCTYPE html>
<html lang="es">

<!-- ----head ----->
<%-include('../partials/head') %> 
<!-- ----head---- -->

<body class="body-register perfil">
    <!-- Imagen de costado = tablet/desktop -->
    <section class="contenido-gral-register">
        <div class="imgcostado-register" style="width: 18rem;">
            <img src="/images/logo-leaf-remaster.png" class="card-img-top" alt="Logo de leaf">
            <div class="card-body">
                <h4 class="card-title">¡Más de 200.000 títulos!</h4>
                    <p class="card-text">Ahora podes comprar tus libros por Internet desde la comodidad de tu casa u
                        oficina a través de nuestra <a href="/">Tienda Virtual</a></p>
            </div>
            <!-- REDES SOCIALES -->
            <ul class="redes-register">
                <li>
                    <h5>Seguinos en redes sociales</h5>
                </li>
                <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                <li><a href=""><i class="fab fa-instagram-square"></i></a></li>
                <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
            </ul>
        </div>

        <div class="conclase-register perfil-div">
            <section class="header-register">
               <a href="/products/carrito" class="icono-carrito"><i class="fas fa-shopping-cart "></i></a>
                <!-- editar perfil -->
            <div><a href="/users/editarPerfil"  class="editar-perfil"><p>Editar perfil</p><i class="fas fa-edit"></i></a></div> 
            </section>

            <main class="main-register perfil-main">
              
                    <a href="/" class="boton-home" ><i class="fas fa-angle-double-left"></i> Home</a>
                    <h2 class="bienvenido-perfil">Bienvenido Nombre </h2>
                
                    <div class="registro-correo"><h5>Correo electrónico</h5> 
                      
                        
                    </div>
                    <!-- Posible error -->
                    <span></span> 

                    <div class="nombre"><h5>Nombre</h5>
                    </div>

                    <div class="apellido"><h5>Apellido</h5>
                    </div>

                    <!-- NICK -->
                    <div class="nombre">
                        <h5>NickName</h5>
                        
                    </div> 

                    <div class="registro-password"> 
                        <h5>Contraseña</h5>
                    </div>

                    <!-- Posible error -->
                    <span></span>

                    <button type="button" class="btn btn-outline-warning"><b>Cerrar sesion</b> </button>
            
            </main>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>