<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<!-- https://media3.giphy.com/media/Ig3Z8ZhpRIM3yxiEVS/giphy.gif?cid=ecf05e47dw8qzp34q9fae829j464nw2dbpk0l7k43u2zz3ut&rid=giphy.gif&ct=g -->
<!-- http://disney.tumblr.com/post/124694210387/get-lost-in-a-good-story -->
<!-- https://media0.giphy.com/media/xU3lcspXpEXuUHj9Dj/giphy.gif?cid=ecf05e47psp423oc7tg3jzqa41ns21hb9umondusrmgcd5ag&rid=giphy.gif&ct=g -->
<!-- https://media4.giphy.com/media/maJc7RZlCIjzq/200w.webp?cid=ecf05e473aziqnzfkv68bk1r2ugjs91ihdcz0y5e0503acoc&rid=200w.webp&ct=g -->