<!DOCTYPE html>
<html lang="en">

  <!-- ----head ----->
  <%-include('./partials/head') %> 
  <!-- ----head---- -->

<body class="preguntas-frecuentes">
    <!-- encabezado -->
   <!-- ----header ----->
  <%-include('./partials/header') %> 
  <!-- ----header---- -->


    <!-- preguntas -->
    <main>
        <div class="contenedor-preguntas">
            <h2 id="titulo">Preguntas frecuentes</h2>

            <!-- pregunta 1 -->
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" class="collapse"
                            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            ¿Cuáles son los pasos a seguir para comprar en la tienda Online?
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Elige el producto que te interesa de las secciones clasificadas de la tienda. A través de un
                            clic
                            conseguirás una ampliación de su fotografía además de información detallada del mismo.
                            Añade el artículo a la cesta. A continuación puedes elegir seguir comprando o tramitar
                            pedido.
                            Selecciona un método de pago: Visa, Visa Electron, Mastercard, American Express...
                            Confirma el pedido y recibirás un correo electrónico de confirmación.
                        </div>
                    </div>
                </div>

                <!-- pregunta 2 -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            ¿Es seguro comprar en la tienda online de Leaf?
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            SI. Puedes comprar con total tranquilidad, pues dedicamos un gran esfuerzo en disponer de
                            recursos con
                            los que garantizar la seguridad de tus compras y de tus datos.
                        </div>
                    </div>
                </div>

                <!-- pregunta 3 -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            ¿Se reponen los artículos con la indicación “agotado”?
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Si un artículo está agotado, trataremos de reponerlo lo antes posible. Si no hubiese más
                            existencias del
                            mismo, lo retiraremos de la página web.
                        </div>
                    </div>
                </div>

                <!-- pregunta 4 -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            ¿Recibiré el mismo producto que veo en la fotografía de la tienda online?
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Si
                        </div>
                    </div>
                </div>

                <!-- pregunta 5 -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            ¿Cómo puedo asegurarme de haber realizado bien mi compra?
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Una vez hecho tu pedido, recibirás un correo electrónico de confirmación. Si no lo
                            recibieses,
                            ponte en
                            contacto con nuestro departamento de atención al cliente.
                        </div>
                    </div>
                </div>

                <!-- pregunta 6 -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            ¿Qué debo hacer si recibo un artículo incorrecto o defectuoso?
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Si en alguna ocasión, por error, llegases a recibir un artículo no solicitado o con alguna
                            tara
                            o
                            defecto, ponte en contacto con nuestro departamento de atención al cliente.
                        </div>
                    </div>
                </div>

                <!-- pregunta 7 -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            ¿Es seguro utilizar mi tarjeta de crédito en la página web?
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Sí, sus datos se transmiten de forma totalmente encriptada SSL. Para el pago con Visa y
                            Mastercard sólo
                            se aceptarán transacciones CES (Comercio Electrónico Seguro). Así pues, tras verificar que
                            la
                            tarjeta
                            está adherida al sistema CES, el sistema contactará con el banco que la ha emitido para que
                            autorice la
                            compra. Una vez el banco confirme la autenticidad, se efectuará el cargo en la tarjeta. En
                            caso
                            contrario el pedido será cancelado.
                        </div>
                    </div>
                </div>

                <!-- pregunta 8 -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEight">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            ¿Cuánto tardará en llegar mi pedido?
                        </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            Los plazos de entrega dependen del destino al que se dirigen los envíos. Para calcular
                            cuanto
                            puede
                            tardar un envio introduce tu codigo póstal en la seccion de envios.
                        </div>
                    </div>
                </div>


                <!-- pregunta 9 -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingNine">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                            ¿Puedo cambiar mis artículos?
                        </button>
                    </h2>
                    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            No. Si no es por un articulo incorrecto o en mal estado.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- pie de pagina -->
   <!-- ----footer ----->
<%-include('./partials/footer') %> 
<!-- ----footer---- -->

  <!-- ----scripts ----->
<%-include('./partials/scripts') %> 
<!-- ----scripts---- -->
</body>

</html>