<!DOCTYPE html>
<html lang="es">

<!-- ----head ----->
<%-include('./partials/head') %> 
<!-- ----head---- -->

<body class="index-quienes">
    <!-- encabezado -->
    <!-- ----header ----->
  <%-include('./partials/header') %> 
  <!-- ----header---- -->

    <main class="main-quienes">
        <div class="imgcostado-quienes" ;>
            <img src="../images/publicidad-quienes.png">
        </div>
        <div class="cuerpo-quienes">
            <h2>Quiénes somos</h2>
            <h4>Nuestra historia</h4>
            <p>La Librería LEAF fue fundada en la ciudad de Buenos Aires en julio de 2015. El local original era pequeño
                (unos 150 m2) y estaba ubicado en Calle Falsa 123, al sur de la Ciudad Autónoma de Buenos Aires.</p>

            <p>En la Librería LEAF nos destacamos por la novedosa integración de heladerías y cafeterías dentro de
                nuestras sedes (en las de Microcentro particularmente); en la actualidad contamos con 3 agencias a nivel
                provincial (San Telmo, Recoleta y Palermo) situadas en los mejores centros comerciales de cada una de
                estos lugares, y con la Tienda Virtual: <a href="/">www.libreriaLEAF.com</a> , con la que llegamos a nuestros clientes de
                cualquier parte del mundo.</p>

            <p>Manejamos más de 60.000 referencias en todos los libros y géneros.</p>

            <p>Nuestro público está compuesto principalmente por hombres y mujeres estudiantes, maestros, profesionales
                e
                intelectuales, y todos los que sienten interés por la cultura y buscan información y entretenimiento.
            </p>

            <p>Además de los distintos géneros de libros ofrecemos lo mejor de la música y video nacional e
                internacional.
            </p>
            <p>Constantemente brindamos a nuestros clientes diferentes servicios y promociones que enriquecen su experiencia de compra. Adicionalmente facilitamos espacios de expresión, en donde se llevan a cabo diferentes eventos y actividades culturales</p>
        </div>
    </main>


    <!-- pie de pagina -->
    <!-- ----footer ----->
<%-include('./partials/footer') %> 
<!-- ----footer---- -->
    <!-- -----modal----- -->

    <!-- Modal como comprar -->
    <div class="modal fade" id="como-comprar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Como comprar
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modal-body">
                    <p>
                        Para realizar compras en leaf.com es necesario que cuentes con un usuario ya registrado e
                        ingreses a nuestro sitio con él, o que te registres.
                        Luego de agregar los libros deseados en el carrito de compras podrás, accediendo al mismo:
                    </p>
                    <p>• Calcular el costo de envío ingresando los datos del domicilio de entrega</p>
                    <p>• En caso de adquirir un e-book, podrás ingresar el mail donde quieras recibirlo.</p>
                    <p>
                        Podrás generar la compra de manera rápida y sencilla ingresando los datos de entrega, el método
                        de envío y la forma de pago. Luego, por último, revisar el pedido y finalizarlo recibiendo una
                        confirmación del mismo en tu casilla de correo.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal trabaja con nosotros-->
    <div class="modal fade" id="trabaja-nosotros" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Trabaja con nosotros
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modal-body">
                    <p>
                        ¿Querés ser parte del equipo de LEAF? Envianos tu CV a
                        rrhh@leaf.com
                    </p>
                    <p>
                        Para aplicar al puesto de vendedor o cajero en nuestra librería enviá tu
                        CV a rrhh.retail@leaf.com
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="politica-privacidad" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Aviso de privacidad
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modal-body">
                    <p>
                        En LEAF estamos comprometidos a respetar y garantizar su
                        privacidad.
                    </p>
                    <p>
                        Nuestro sitio utiliza "cookies" para mantener un registro de los
                        ítems que usted suma al carrito, para recordar información al
                        pasar de página en página sin necesidad de volver a solicitársela,
                        para recolectar detalles acerca de sus preferencias y las de otros
                        clientes, para reconocer qué áreas del sitio debemos desarrollar
                        más y qué otras no son de acceso frecuente.
                    </p>
                    <p>
                        Toda esta información, junto con los e-mails de sugerencias
                        recibidos sirven para modificar el sitio de manera que sea más
                        amigable o productivo para nuestros clientes.
                    </p>
                    <p>
                        Cuando le solicitamos sus datos personales, lo hacemos para poder
                        procesar, despachar y avisarle acerca del estado de su orden. El
                        número de teléfono lo solicitamos para el caso que un
                        representante de servicio al cliente tenga la necesidad de
                        contactarse con usted y no pueda lograrlo por medio del e-mail.
                    </p>
                    <p>
                        La información acerca de su tarjeta de crédito no queda registrada
                        en nuestras bases de datos, utilizamos el sistema de Pago Seguro
                        de PayU para compras con tarjetas internacionales y MercadoPago
                        para compras con tarjetas locales como nexo con las controladoras
                        de tarjeta de crédito. De esta manera no conocemos los datos de la
                        tarjeta ingresada en línea, únicamente recibimos un número de
                        autorización o rechazo de la operación.
                    </p>
                    <p>
                        Cuando se suscribe para recibir novedades por e-mail, únicamente
                        consideramos su dirección de e-mail para ese tema, no enviamos
                        publicidad no solicitada y no compartimos ni entregamos nuestras
                        bases de datos a terceras partes bajo ningún motivo.
                    </p>
                    <p>
                        Cuando usted se registra como cliente e informa su clave personal,
                        ésta permanece totalmente encriptada y si usted la pierde o no la
                        recuerda, nosotros no podemos acceder a recuperarla, únicamente
                        podemos asignarle una nueva. De esta forma queda garantizada la
                        privacidad de la misma.
                    </p>
                    <p>
                        Es necesario aclarar que cuando usted clickea sobre un link o un
                        aviso publicitario que lo conecta con otros sitios web, usted está
                        sujeto a las políticas de dicho sitio. No nos hacemos responsables
                        por las acciones de estas terceras partes y por ello recomendamos
                        lea detenidamente la política de privacidad del sitio accedido.
                    </p>
                    <p>
                        Estamos comprometidos a brindar el mejor servicio en línea
                        posible, verifique periódicamente si hubo algún cambio en esta
                        página, pues el uso del sitio cuspide.com implica el conocimiento
                        y aceptación de nuestra política de privacidad.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal téminos y condiciones-->
    <div class="modal fade" id="terminos-condiciones" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Términos y condiciones
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modal-body">
                    <p>
                        Resolución 244/2020 de la Secretaría de Comercio Interior del
                        Ministerio de Desarrollo Productivo Última modificación:
                        01/10/2020
                    </p>
                    <p>
                        Dispone que los plazos previstos en las garantías contractuales y
                        legales en los términos de la Ley N° 24.240 se tienen por
                        suspendidos por todo el periodo en que los consumidores se hayan
                        visto imposibilitados de ejercer sus derechos en virtud del
                        Aislamiento Social, Preventivo y Obligatorio dictado por el
                        Decreto Nº 297 de fecha 19 de marzo de 2020 y sus modificatorios.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- ----scripts ----->
<%-include('./partials/scripts') %> 
<!-- ----scripts---- -->

</body>



</html>