<!DOCTYPE html>
<html lang="es">

  <!-- ----head ----->
  <%-include('./partials/head') %> 
  <!-- ----head---- -->

<body class="novedades">


  <!-- ----header ----->
  <%-include('./partials/header') %> 
  <!-- ----header---- -->

<main>

    <h2>Todas las novedades</h2>
    
    <div class=contenedorNovedades>
    <article class="libro">
        <a href="/products/detalle"
          ><img src="/images/el-manuscrito.png" alt="img el manuscrito"
        /></a>
        <div class="detalle">
          <h3>el manuscrito</h3>
          <h4>John Grisham</h4>
          <p>$1500</p>
        </div>
      </article>

      <article class="libro">
        <a href="/products/detalle"
          ><img src="/images/el-manuscrito.png" alt="img el manuscrito"
        /></a>
        <div class="detalle">
          <h3>el manuscrito</h3>
          <h4>John Grisham</h4>
          <p>$1500</p>
        </div>
      </article>

      <article class="libro">
        <a href="/products/detalle"
          ><img src="/images/el-manuscrito.png" alt="img el manuscrito"
        /></a>
        <div class="detalle">
          <h3>el manuscrito</h3>
          <h4>John Grisham</h4>
          <p>$1500</p>
        </div>
      </article>

      <article class="libro">
        <a href="/products/detalle"
          ><img src="/images/el-manuscrito.png" alt="img el manuscrito"
        /></a>
        <div class="detalle">
          <h3>el manuscrito</h3>
          <h4>John Grisham</h4>
          <p>$1500</p>
        </div>
      </article>

      <article class="libro">
        <a href="/products/detalle"
          ><img src="/images/el-manuscrito.png" alt="img el manuscrito"
        /></a>
        <div class="detalle">
          <h3>el manuscrito</h3>
          <h4>John Grisham</h4>
          <p>$1500</p>
        </div>
      </article>

      <article class="libro">
        <a href="/products/detalle"
          ><img src="/images/el-manuscrito.png" alt="img el manuscrito"
        /></a>
        <div class="detalle">
          <h3>el manuscrito</h3>
          <h4>John Grisham</h4>
          <p>$1500</p>
        </div>
      </article>

      <article class="libro">
        <a href="/products/detalle"
          ><img src="/images/el-manuscrito.png" alt="img el manuscrito"
        /></a>
        <div class="detalle">
          <h3>el manuscrito</h3>
          <h4>John Grisham</h4>
          <p>$1500</p>
        </div>
      </article>
    </div>
</main>

<!-- ----footer ----->
<%-include('./partials/footer') %> 
<!-- ----footer---- -->

</body>
<!-- ----scripts ----->
<%-include('./partials/scripts') %> 
<!-- ----scripts---- -->
</html>